/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */


/************** BASE  *******************/
body{
	font: 300 1.3rem/1.3rem Oswald;
	color: #000;
}
h1{
	margin: 15px 0;
	text-transform: uppercase;
	font: 300 2rem/2rem Oswald;
	text-align: center;
}
h2{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
h3{
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}

.clearboth{
	clear: both;
}

/************ HEADER  *******************/
header{
	background-color: #414a51;
	color: #fff;
	padding: 0 20px;
	font-size: 1em;
}

header .connexion{
	height: 40px;
}
.connexion #logo {
	float: left;
}
.connexion #login {
	float: right;
}

.connexion a, 
.navigation a{
	color: #fff;
	text-decoration: none;
}

.connexion a:hover, 
.navigation a:hover{
	color: #ccc;
}

header .navigation{
	line-height: 40px;
	height: 40px;
	clear: both;
}

.navigation .liens{
	float: left;
}
.navigation .liens a{
	margin: 0 10px 0 0;
}
.navigation #recherche{
	float: right;
}
.navigation #recherche input{
	position:relative;
}


.loupe:before, .loupe:after{content:''; height:20px; display:block; position:absolute; top:0; left:0; }

.loupe:before{width:20px; border:3px #333 solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}

.loupe:after{width:7px; background:#333; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:17px; left:24px;}


/************ BODY  *******************/



.container{
	/*text-align: left;*/
	width: 980px;
	zoom: 1;
	margin: 0 auto;
}

/************ FOOTER  *******************/

footer{
	clear: both;
	width: 100%;
	height: 30px;
	background-color: #BBB;
}


.titrequestion{
	margin-left: 35px;
	text-align: left;
}


.borderbottom{
	height: 1px;
	width: 100%;
	border-bottom: 1px solid grey;
}

.detail{
	margin-top: 20px;
	text-align: center;
}

.note{
	margin-left: 100px;
	width: 50px;
	float: left;
}

#texteQR{
	margin-right: 100px;
	width: 600px;
	float: right;
}

#reponse{
	margin-left: 35px;
	text-align: left;
	padding: 20px;
}


#formulairedequestion{
	width: 700px;
}

.intext{
	width: 600px;
	float: right;
}

.questionarea{
	margin-top: 20px;
}

#tags{
	margin-top: 10px
}

.submit{
	float: right;
	margin-top: 10px;
}