/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */


/************** BASE  *******************/
body{
	font: 300 1.3rem/1.3rem Oswald;
	color: #000;
	background: url(../img/fond.png) scroll repeat 0 0 #f3f2f2;
}

h2{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
h3{
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}

.clearboth{
	clear: both;
}
.colLeft{
	float: left;
	width: 15%;
}
.colRight{
	float: left;
	width: 82%;	
	border-left: 1px solid #ccc;
	padding-left: 15px;
}
/************ HEADER  *******************/
header{
	background-color: #22313F;
	color: #fff;
	font-size: 1em;
}
header .connexion{
	height: 30px;
	background-color: #34495E;
	padding: 10px 20px;
	border-bottom: 2px solid #fff;
}

h1{
	text-transform: uppercase;
	font: 300 2rem/2rem Shadows Into Light;
	text-align: center;
	color: #F1C40F;
	position: relative;
}
h1::before{
	content: "";
	background: url(../img/staque-logo.png) scroll no-repeat top center transparent;
	width: 41px;
	height: 31px;	
	position: absolute;
	top: 0;
	right: -48px;
}

.connexion #logo {
	float: left;
}
.connexion #logo:hover{
	text-decoration: none;
}
.connexion #login {
	float: right;
	font: 200 13px Open Sans, sans-serif;
	text-transform: uppercase;
	margin-top: 10px;
}
.connexion #login a.login {
	position: relative;
	margin-right: 20px;
}
.connexion #login a.register {
	position: relative;
}

.navigation .liens a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
	text-decoration: none;
	border-bottom: 5px solid #E87E04;
	padding-bottom: 12px;
}

.connexion #login a.login::before {
	content: "";
	background: url(../img/login.png) no-repeat 0 0 transparent;
	width: 8px;
	height: 10px;
	position: absolute;
	top: 3px;
	left: -14px;
}
.connexion a, 
.navigation a{
	color: #fff;
	text-decoration: none;
}

.connexion a:hover, 
.navigation a:hover{
	text-decoration: underline;
}

header .navigation{
	line-height: 60px;
	height: 60px;
	clear: both;
	padding: 0 20px;
	font-family: PT Sans;
}

.navigation .liens{
	float: left;
	font: 300 0.9rem/0.9rem;
}
.navigation .liens a{
	margin: 0 10px 0 0;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	position: relative;
}

/* ajout de la barre orange en rollover avec transition */
.connexion #login a.login::after,
.connexion #login a.register::after,
.navigation .liens a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	content: '';
	opacity: 0;
	padding-bottom: 10px;
	border-bottom: 5px solid #E87E04;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.connexion #login a.login:hover,
.connexion #login a.register:hover,
.navigation .liens a:hover{ text-decoration: none; } 

.connexion #login a.login:hover::after,
.connexion #login a.login:focus::after,
.connexion #login a.register:hover::after,
.connexion #login a.register:focus::after,
.navigation .liens a:hover::after,
.navigation .liens a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.navigation #recherche{
	float: right;
}
.navigation #recherche input{
	position:relative;
	padding: 3px 19px 3px 6px;
}

nav .icon{
	position: relative;
	width: 8px;
	height: 3px;
	background-color: #E87E04;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 222px;
	top: 33px;
	z-index: 1;	
}
nav .icon::before {
	content: "";
	border: 2px solid #E87E04;
	position: absolute;
	top: -4px;
	left: -11px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.addQuestionBtn{
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	border: 3px solid #ffffff;
	padding: 3px 40px;
	line-height: 20px;
	margin: 5px 0 0 25px;
	border-radius: 3px;
}
.addQuestionBtn::after{ content:""; display: none; }
a.addQuestionBtn:hover{

color: #22313F;
background-color: #ffffff;
text-decoration: none;

}

/************ BODY  *******************/

/*présentation*/

#presentation{
	height: auto;
	background-color: #E87E04;
	color: #fff;
	text-align: center;
	padding: 20px;
	font-family: PT Sans;
	border-bottom: 5px solid #fff;
}
#presentation h2{
	font-weight: 700;
	font-size: 3rem;
	font-family: Oswald;
	text-shadow: 2px 2px #6E0E0E;
	letter-spacing: 6px;

}
#presentation h3{
	font-size: 37px;
	text-shadow: 2px 2px #fff;
	color: #6E0E0E;
	letter-spacing: 5px;
	margin-top: 10px;
}
#presentation p{
	font-size: 14px;
	width: 31%;
	margin:20px auto;
	text-align: justify;

}

.container{
	/*text-align: left;*/
	width: 980px;
	zoom: 1;
	margin: 0 auto;
	padding: 20px;
	margin-top: 20px;
}

/*** home ***/
.topQuestion h2{
	font: 500 1.2em/1.2em Oswald;
	text-align: left;
	border-bottom: 1px solid #414a51;
	padding-bottom: 10px;
	margin: 20px 0;
}

.topQuestionWrap{
	padding: 20px;
	font-weight: 300;
	margin: 30px 0;
	background-color: #fff;
}
.topQuestionWrap .compteurs li{
	margin: 15px 0;
}
.topQuestionWrap .question h3{
	text-align: left;
	font: 500 1em/1em PT Sans Narrow;
	margin-bottom: 15px;
}
.topQuestionWrap .question p{
	text-align: left;
	font: 300 0.8em/0.8em Lato;
	margin: 15px 0;
}

.topQuestionWrap .question .tags{ width: 70%; float: left;}
.topQuestionWrap .question .user{ width: 30%; float: right;}

/*#voteQ #plus{
	width:20px;
	background-color: grey;
}*/






h1.title{
	margin-left: 35px;
	text-align: left;
}

.borderbottom{
	height: 1px;
	width: 100%;
	border-bottom: 1px solid grey;
}

.detail{
	margin-top: 20px;
}

.note{
	text-align: center;
	width: 50px;
	float: left;
	margin-top: 20px;
}

#texteQR{
	float: left;
	width: 908px;
	border-left: 1px solid #ccc;
	padding-left: 20px;
	text-align: left;
	margin-top: 15px;
}

h2#reponse{
	text-align: left;
	padding: 20px;
}


#formulairedequestion{
	/*width: 700px;*/
}

.intext{
	width: 600px;
	float: right;
}

.questionarea{
	margin-top: 20px;
}

#tags{
	margin-top: 10px;
	color: #ee9c5b;
}

.submit{
	float: right;
	margin-top: 10px;
}

label{
	color: #f3ae73;
}



/*question page d'aceuil*/





/*****Details des questions***/
.Question{
	font: 0.8em/0.8em arial;
	font-weight: 300;
	width: 800px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #ccc;
}

h3.titreQuestion{
	font-size: 25px;
	text-align: left;
	text-transform: none;
	text-decoration: underline;
	margin-bottom: 10px;
	color: rgb(56, 100, 195);
	margin-top: 30px;
	font-style: italic;

}

.contenueQuestion p, .contenueQuestion pre{
	text-align: left;
	font-size: 15px;
}

.contenueQuestion pre{
	margin: 10px 0;
}

.Question p{
	margin-bottom: 0.5em;
}


/*fomulaire si deconecter*/

#errorLogin{
	border: 3px solid #22313F;
	padding: 10px;
	background-color: #f3f2f2;
	color: #E87E04;
	border-radius: 3px;
}

/*** mon compte ***/

#account{
	margin-top: 30px;
}

#account p{
	margin: 10px 0;
}

#account #infos span:first-child{
	color: #f3ae73;
}
.delete{
	position: relative;
	cursor: pointer;
}
.delete::before{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: red;
}
#viewport{
        width: 240px;
        overflow:hidden;
}
#viewport ul{
        position: relative;
        padding: 0;
}
#viewport li{
        width: 100px;
        height: 50px;
        float: left;
        list-style: none;
}

/** modifier profil **/
img.avatar{
	border: 5px solid #fff;
	border-radius: 50%;
	padding: 7px;
}
	/* custom input file*/
input[type="file"]{
	height: 30px;
	line-height: 30px;
	margin: 20px auto;
	display: block;
}
.file::-webkit-file-upload-button {
  visibility: hidden;
}
.file::before {
  content: 'Ajouter son image';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file:hover::before {
  border-color: black;
}
.file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/*** liste de profils ***/
#profil {
	float: left;
	margin-right: 40px;
	font-size: 15px;
}
#profil figure, 
#profil .user-details{
	float: left;
}
#profil h4 {
	font-size: 17px;
}
#profil figure{
	border: 2px solid #ccc;
	margin-right: 10px;
}

/************ FOOTER  *******************/

footer{
	clear: both;
	width: 100%;
	height: 100%;
	background-color: #414a51;
	margin-top: 30px;
	color: #fff;
}
/***********************************/

