/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin du reset */


/************** BASE  *******************/
body{
	font: 300 1.3rem/1.3rem Oswald;
	color: #000;
}
h1{
	margin: 15px 0;
	text-transform: uppercase;
	font: 300 2rem/2rem Oswald;
	text-align: center;
}
h2{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
h3{
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}

.clearboth{
	clear: both;
}

/************ HEADER  *******************/
header{
	background-color: #414a51;
	color: #fff;
	padding: 0 20px;
	font-size: 1em;
	padding: 10px 0;
}

header .connexion{
	height: 40px;
}
.connexion #logo {
	float: left;
}
.connexion #login {
	float: right;
}

.connexion a, 
.navigation a{
	color: #fff;
	text-decoration: none;
}

.connexion a:hover, 
.navigation a:hover{
	color: #ccc;
}

header .navigation{
	line-height: 40px;
	height: 40px;
	clear: both;
}

.navigation .liens{
	float: left;
}
.navigation .liens a{
	margin: 0 10px 0 0;
}
.navigation #recherche{
	float: right;
}
.navigation #recherche input{
	position:relative;
	padding: 3px 19px 3px 6px;
}

nav .icon{
	position: relative;
	width: 8px;
	height: 3px;
	background-color: #534441;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 222px;
	top: 24px;
	z-index: 1;	
}
nav .icon::before {
	content: "";
	border: 2px solid #534441;
	position: absolute;
	top: -4px;
	left: -11px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}



/************ BODY  *******************/

.container{
	text-align: left;
	width: 980px;
	zoom: 1;
	margin: 0 auto;
	background-color: #f3f2f2;
	padding: 20px;
}

h1.title{
	margin-left: 35px;
	text-align: left;
}

.borderbottom{
	height: 1px;
	width: 100%;
	border-bottom: 1px solid grey;
}

.detail{
	margin-top: 20px;
}

.note{
	text-align: center;
	width: 50px;
	float: left;
	margin-top: 20px;
}

#texteQR{
	float: left;
	width: 908px;
	border-left: 1px solid #ccc;
	padding-left: 20px;
	text-align: left;
	margin-top: 15px;
}

h2#reponse{
	text-align: left;
	padding: 20px;
	color: #f3ae73;
}

/*** mon compte ***/
#account{
	margin-top: 30px;
}
#account p{
	margin: 10px 0;
}

#account #infos span:first-child{
	color: #f3ae73;
}
.delete{
	position: relative;
	cursor: pointer;
}
.delete::before{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: red;
}

/************ FOOTER  *******************/

footer{
	clear: both;
	width: 100%;
	height: 100%;
	background-color: #414a51;
	margin-top: 30px;
	color: #fff;
}


